body{
	color: green;
	font-family: 
}

p{
	text-align: center;

}

h1{
	text-align: left;
	color: red;

}

.first{
	text-align: left;
}
h2{
	color: black;
}

h1{
	color: orange;
}

h3{
	color: black;
}

h3{
	text-align: left;
}

h5{
	text-align: center;
	color: blue;
}
table,th,td{
	border: 1px solid black;
            width: 50%
}
nav{
	text-align:center;
	justify-content:center;
	padding:50;
	margin:70;
	font-weight:bold;
}